<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Article</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/oqh1yqs.css">
</head>
<body class="edit_article">
    <%- include('_navbar') %>
    <h1>Article Edition</h1>
    <div class="main_content">
        <a href="/authors" id="arrow_back">←</a>
        <form action="/authors/edit/<%= article.id %>" method="post" class="edit_article_form">
            <label for="title" id="article_title">Title</label><br><br>
            <input type="text" id="article_title_box" name="title" value="<%= article.title %>"><br><br>
            <label for="content" id="article_content">Article Text</label><br><br>
            <textarea id="edit_article_content_box" name="content"><%= article.content %></textarea><br><br>
            <button type="submit" class="submit_changes">SUBMIT</button>
            <p>Created at: <%= article.created_at %></p>
            <p>Last modified: <%= article.updated_at %></p>
        </form>
    </div>
</body>
</html>
